@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
  background: #f1f1f1;
  color: #7a7a7a;
  font-family: 'Manrope';
  font-size: 16px;
  overflow: hidden;
}

.btn {
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.input {
  border: none;
  outline: none;
}

.selector {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 0.3125rem;
  color: inherit;
  font-weight: 800;
  outline: 0;
  padding: 0 1.25rem;
}

.radio {
  align-items: center;
  background: #fff;
  border-radius: 0.3125rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: space-between;
  width: 50rem;
}

.radio__body {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}

.radio__circ {
  background: transparent;
  border: 0.125rem solid rgba(0, 0, 0, 0.13);
  border-radius: 100%;
  height: 0.9375rem;
  margin: 0 0 0 1.25rem;
  width: 0.9375rem;
}

.radio__circ--checked {
  background: #d73582;
  border: 2px solid #fae1ed;
}

.radio__country {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  padding: 0 1.25rem 0 0;
}

@media (prefers-color-scheme: dark) {
  .radio {
    background: #36393f;
  }

  .radio__circ {
    border: 1px solid rgba(216, 223, 231, 0.6);
  }
}
.range {
  background: transparent;
  margin: 1.25rem 0 0 0;
}

.range__body {
  display: flex;
  flex-direction: column;
}

.range__text {
  color: #333;
  font-size: 0.875em;
  font-weight: 500;
  margin: 0 0 0.9375rem 0;
}

.range__input {
  appearance: none;
  background: #fae1ed;
  background-image: linear-gradient(
    to right,
    #d73582 calc(var(--value) * 1%),
    #fae1ed 0
  );
  border-radius: 0.625rem;
  height: 0.625rem;
  width: 50rem;
}

.modal__overlay {
  background: rgba(0, 0, 0, 0.25);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 0;
}

.modal__root {
  background: #fff;
  border-radius: 0.625rem;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 1;
}

.modal__header {
  border-radius: 0.625rem 0.625rem;
  display: flex;
  justify-content: flex-end;
  height: 2.1875rem;
}

.modal__close-btn {
  background: transparent;
  border-radius: 100%;
  height: 1.25rem;
  margin: 0.625rem 0.625rem 0.625rem 0;
  width: 1.25rem;
}

.modal__body {
  display: flex;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.td {
  text-align: center;
}

.layout {
  background: inherit;
  display: grid;
  grid-template-areas: 'sidebar header header' 'sidebar main   main';
  grid-template-columns: 8.125rem auto;
  grid-template-rows: 5rem auto;
  height: 100vh;
}

/*
* Header - Base
*/
.header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: flex-end;
  grid-area: header;
}

.header__nav {
  display: flex;
  gap: 1.25rem;
  margin-right: 1.25rem;
}

.header__btn {
  align-items: center;
  background: inherit;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}

.header__btn--theme {
  border: 1px solid #88c8f7;
  border-radius: 100%;
}

.header__btn--help {
  background: #0167bc;
  border-radius: 100%;
}

/*
* Header - Home
*/
.header--home {
  display: flex;
  gap: 1.25rem;
}

.header__selector {
  font-size: 0.875em;
  height: 2.5rem;
  width: 21.875rem;
}

/*
* Header - Folder
*/
.header--folder {
  display: flex;
  gap: 1.25rem;
}

.header__body {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 0.625rem;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 66.875rem;
}

.header__btn--file {
  background: #9c7dde;
  border-radius: 100%;
}

/*
* Main - Base
*/
.main {
  background: inherit;
  display: flex;
  flex-direction: column;
  grid-area: main;
}

.main--settings {
  flex-direction: row;
}

/*
* Main - Home
*/
.main__header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  display: flex;
  gap: 1.5rem;
  height: 5rem;
  width: 100%;
}

.main__search-bar {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 6.25rem;
  display: flex;
  padding: 0 0.625rem 0 0;
}

.main__input {
  border-radius: 6.25rem;
  font-size: 0.875em;
  font-weight: 600;
  height: 2.5rem;
  text-indent: 1.25rem;
  width: 30rem;
}

.main__btn {
  align-items: center;
  background: inherit;
  display: flex;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
}

.main__btn--add {
  background: #8bde7d;
  border-radius: 100%;
  margin: 0 0 0 1.875rem;
}

.main__body--home {
  width: 100%;
}

.main__tr--th {
  height: 3.125rem;
}

.main__tr--td {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.13);
  height: 4.375rem;
}

.main__btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.625rem;
}

.main__btn--edit {
  background: #7da4de;
  border-radius: 100%;
  height: 1.875rem;
  width: 1.875rem;
}

.main__btn--remove {
  background: #de7d7d;
  border-radius: 100%;
  height: 1.875rem;
  width: 1.875rem;
}

/*
* Main - Folder
*/
.main__body--folder {
  height: calc(100vh - 5rem);
}

.main__embed {
  height: 100%;
  width: 100%;
}

/*
* Main Settings
*/
.main__sidebar {
  background: #fff;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.13);
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 18.75rem;
}

.main__title {
  align-items: center;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.13);
  color: inherit;
  display: flex;
  font-size: 0.875em;
  font-weight: 700;
  height: 3.125rem;
  margin: 0 1.25rem;
}

.main__menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
}

.main__menu--info {
  border: 0;
}

.main__section-btn {
  background: inherit;
  color: #7a7a7a;
  font-size: 0.8125em;
  font-weight: 500;
  height: 1.875rem;
  text-align: start;
}

.main__section-btn--exit {
  color: #fa8d8d;
}

.main__body--settings {
  display: flex;
}

/*
* Section: Appearance
*/
.main__appearance-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 51.25rem;
  margin: 0 0 0 1.25rem;
}

.section__header--appearance {
  margin: 4.375rem 0 0 0;
}

.section__title--appareance {
  color: #333;
  font-size: 1.125em;
  font-weight: 700;
  margin: 0;
}

.section__body--appareance {
  display: flex;
  flex-direction: column;
}

.section__thumb {
  align-items: center;
  background: #fff;
  border-radius: 0.3125rem;
  display: flex;
  gap: 4.375rem;
  height: 15.625rem;
  justify-content: center;
  margin: 0.6875rem 0 1.25rem 0;
  width: 50rem;
}

.section__theme-title {
  color: #333;
  font-size: 0.8125em;
  margin: 0 0 0.625rem 0;
}

.section__options--appearance {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin: 0 1.25rem 0 0;
  padding: 0 0 2.5rem 0;
}

/*
* Section: Language
*/
.main__language-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 51.25rem;
  margin: 0 0 0 1.25rem;
}

.section__header--language {
  margin: 4.375rem 0 0 0;
}

.section__title--language {
  color: #333;
  font-size: 1.125em;
  font-weight: 700;
  margin: 0;
}

.section__theme-title--language {
  color: #333;
  font-size: 0.8125em;
  font-weight: 500;
  margin: 0.625rem 0 0.625rem 0;
}

.section__options--language {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

/*
* Esc Button
*/
.esc {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1.5625rem 0 0 0.625rem;
}

.esc__btn {
  align-items: center;
  background: inherit;
  border: 0.125rem solid #333;
  border-radius: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  width: 2.5rem;
}

.sidebar {
  background: #fff;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.13);
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.13);
  grid-area: sidebar;
}

.sidebar__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6.25rem;
  justify-content: center;
}

.sidebar__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100vh;
  width: 100%;
}

.sidebar__btn {
  align-items: center;
  background: inherit;
  border-radius: 0.9375rem;
  display: flex;
  flex-direction: column;
  height: 3.75rem;
  justify-content: center;
  width: 3.75rem;
}

/*
* ModalCategoryManager
*/
.modal__root--category-manager {
  height: 16.25rem;
  width: 37.5rem;
  transition: 0.4s ease;
}

.modal__root--category-manager-edit {
  height: 22.8125rem;
  transition: 0.4s ease;
}

.modal__category-manager {
  display: flex;
  flex-direction: column;
}

.modal__options {
  display: flex;
}

.modal__btn {
  background: inherit;
  font-size: 0.875em;
  font-weight: 800;
  transition: 0.4s ease;
}

.modal__btn-add-section {
  height: 3.75rem;
  width: 12.5rem;
}

.active-add-section {
  border-bottom: 0.1875rem solid #d73582;
}

.modal__btn-edit-section {
  height: 3.75rem;
  width: 25rem;
}

.active-manage-section {
  border-bottom: 0.1875rem solid #d73582;
}

.category-manager__input {
  border: 0.0625rem solid rgba(0, 0, 0, 0.13);
  border-radius: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  height: 2.5rem;
  margin: 1.875rem 1.25rem 1.25rem 1.25rem;
  text-indent: 1.25rem;
  width: 35rem;
}

.category-manager__btn-add {
  background: #2e3338;
  border-radius: 0.625rem;
  color: #fff;
  font-size: 0.875em;
  font-weight: 800;
  height: 2.5rem;
  margin: 0 1.25rem;
  width: 35rem;
}

.category-manager__table {
  margin: 1.875rem 0;
  padding: 0 1.25rem;
}

.category-manager__input-edit {
  color: #7a7a7a;
  font-size: 0.875rem;
  font-weight: 800;
  text-align: center;
}

.category-manager__btn-remove {
  background: #ff9a9a;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 0.75em;
  font-weight: 600;
  height: 1.875rem;
  width: 6.25rem;
}

/*
* ModalMaterialForm
*/
.modal__root--material-form {
  height: 36.875rem;
  width: 30rem;
}

.modal__root-material-edit {
  height: 38.4375rem;
  width: 30rem;
}

.modal__options--material {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__titles {
  display: flex;
  flex-direction: column;
}

.modal__title {
  color: #7a7a7a;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0.625rem 0 0.3125rem 1.25rem;
}

.modal__description {
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 400;
  margin: 0.3125rem 1.25rem 1.25rem 1.25rem;
  text-align: justify;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0 1.25rem;
}

.modal__input-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.9375rem 0;
}

.modal__label {
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 400;
  margin: 0 0 0.3125rem 0;
}

.modal__input {
  border: 0.0625rem solid rgba(0, 0, 0, 0.13);
  border-radius: 0.3125rem;
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 600;
  height: 2.1875rem;
  text-indent: 0.9375rem;
  width: 27.5rem;
}

.modal__selector {
  border-radius: 0.3125rem;
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 600;
  height: 2.1875rem;
  width: 27.5rem;
}

.modal__btn-add {
  background: #8bde7d;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  height: 2.1875rem;
  margin: 2.1875rem 0 0 0;
  width: 27.5rem;
}

.modal__btn-edit {
  background: #7da4de;
  border-radius: 0.3125rem;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  height: 2.1875rem;
  margin: 2.1875rem 0 0 0;
  width: 27.5rem;
}

/*
* ModalRemoveAlert
*/
.modal__root--alert-remove {
  left: 35%;
  top: 30%;
  transform: none;
  height: 17.5rem;
  width: 26.875rem;
}

.modal__options--alert {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__question {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
}

.modal__circle {
  align-items: center;
  background: #83b9f8;
  border-radius: 100%;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

.modal__message {
  color: #7a7a7a;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 1.875rem 0;
  padding: 0 2.5rem;
  text-align: center;
}

.modal__btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.25rem;
}

.modal__btn-confirm {
  background: #83b9f8;
  border-radius: 0.1875rem;
  color: #fff;
  font-weight: 600;
  height: 2.1875rem;
  width: 8.75rem;
}

.modal__btn-cancel {
  background: #767676;
  border-radius: 0.1875rem;
  color: #fff;
  font-weight: 600;
  height: 2.1875rem;
  width: 8.75rem;
}

/*
* ModalBackup
*/
.modal__root--backup {
  height: 19.6875rem;
  width: 37.5rem;
}

.modal__options--backup {
  align-items: center;
  gap: 1.25rem;
  justify-content: center;
}

.modal__description--backup {
  margin-bottom: 0.9375rem;
}

.modal__btn--create {
  align-items: center;
  background: #f86f88;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 9.375rem;
  justify-content: center;
  width: 16.875rem;
}

.modal__btn--upload {
  align-items: center;
  background: #6f7df8;
  border-radius: 0.3125rem;
  box-shadow: 0rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 9.375rem;
  justify-content: center;
  width: 16.875rem;
}

.layout--settings {
  grid-template-areas: 'sidebar main main' 'sidebar main main';
  grid-template-columns: 8.125rem auto;
  grid-template-rows: auto;
}

.selector option {
  color: #7a7a7a;
  font-weight: 800;
}

.radio span {
  color: #7a7a7a;
  cursor: inherit;
  font-size: 0.8125em;
  font-weight: 600;
}

.radio__country span {
  color: #7a7a7a;
  font-size: 0.625em;
  font-weight: 300;
}
.radio__country img {
  height: 1.875rem;
  width: 1.875rem;
}

.modal__close-btn svg {
  height: 1.125rem;
  width: 1.125rem;
}

.header__btn svg {
  height: 2.5rem;
  width: 2.5rem;
}

.header__btn--theme svg {
  height: 1.5rem;
  width: 1.5rem;
}

.header__btn--help svg {
  height: 1.5rem;
  width: 1.5rem;
}

.header__body span {
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 800;
}

.header__btn--file svg {
  height: 1.5rem;
  width: 1.5rem;
}

.main__search-bar svg {
  height: 1.5rem;
  width: 1.5rem;
}

.main__btn svg {
  height: 2.5rem;
  width: 2.5rem;
}

.main__btn--add svg {
  height: 1.5rem;
  width: 1.5rem;
}

.main__table thead {
  background: #fff;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.13);
  text-align: center;
}
.main__table tbody {
  background: #fff;
  text-align: center;
}
.main__table tr {
  text-align: center;
}
.main__table th {
  font-size: 0.875em;
  font-weight: 600;
}
.main__table td {
  font-size: 0.875em;
  font-weight: 400;
}

.main__btn--edit svg {
  height: 1rem;
  width: 1rem;
}

.main__btn--remove svg {
  height: 1rem;
  width: 1rem;
}

.main__menu figure {
  margin: 0.625rem 0;
}
.main__menu p {
  font-size: 0.625em;
  font-weight: 300;
  margin: 0 0 0.625rem 0;
}

.main__github svg {
  height: 1.25rem;
  width: 1.25rem;
}

.esc span {
  font-size: 0.8125rem;
  font-weight: 700;
  margin: 0.3125rem 0 0 0;
}

.category-manager__table tr {
  display: flex;
  justify-content: space-around;
  margin: 0.625rem 0;
}
.category-manager__table td {
  color: #7a7a7a;
  font-size: 0.875em;
  font-weight: 800;
}

.modal__circle svg {
  height: 2.875rem;
  width: 2.875rem;
}

.modal__btn--create span {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 0.625rem 0;
}
.modal__btn--create svg {
  height: 4rem;
  width: 4rem;
}

.modal__btn--upload span {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 0.625rem 0;
}
.modal__btn--upload svg {
  height: 4rem;
  width: 4rem;
}

.sidebar__header svg {
  height: 2.5rem;
  width: 2.5rem;
}
.sidebar__header span {
  color: #000;
  font-size: 0.875em;
  font-weight: bold;
  margin: 0.1875rem 0 0 0;
}

.sidebar__btn svg {
  height: 1.5rem;
  width: 1.5rem;
}
.sidebar__btn span {
  color: #7a7a7a;
  font-size: 0.625em;
  font-weight: 300;
}

.range__input::-webkit-slider-thumb {
  appearance: none;
  border: 0.3125rem solid #fff;
  background: #dedede;
  border-radius: 100%;
  box-shadow: 0rem 0.0625rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
  cursor: grab;
  height: 1.125rem;
  width: 1.125rem;
}

.main__input::placeholder {
  color: #c1c1c1;
}
.main__input::-webkit-search-cancel-button {
  display: none;
}

.modal__input::placeholder {
  color: #c1c1c1;
  font-weight: 400;
}

.radio span::selection {
  background: transparent;
}

.header__btn--theme:hover {
  box-shadow: 0 0 0 0.25rem rgba(136, 200, 247, 0.5);
  transition: 0.5s ease all;
}

.header__btn--help:hover {
  background: #014fb4;
  box-shadow: 0 0 0 0.25rem rgba(1, 103, 188, 0.5);
  transition: 0.5s ease all;
}

.header__btn--file:hover {
  background: #8e6fd3;
  box-shadow: 0 0 0 0.25rem rgba(156, 125, 222, 0.5);
  transition: 0.5s ease all;
}

.main__btn--add:hover {
  background: #79ce6b;
  box-shadow: 0 0 0 0.25rem rgba(139, 222, 125, 0.5);
  transition: 0.5s ease all;
}

.main__btn--edit:hover {
  background: #658ac2;
  box-shadow: 0 0 0 0.25rem rgba(125, 164, 222, 0.5);
  transition: 0.5s ease;
}

.main__btn--remove:hover {
  background: #ca6969;
  box-shadow: 0 0 0 0.25rem rgba(222, 125, 125, 0.5);
  transition: 0.5s ease;
}

.main__section-btn:hover {
  color: #d73582;
  transition: 0.5s ease;
}

.main__section-btn--exit:hover {
  color: #f55b5b;
}

.category-manager__btn-add:hover {
  box-shadow: 0 0 0 4px rgba(46, 51, 56, 0.5);
  transition: 0.5s ease;
}

.category-manager__btn-remove:hover {
  box-shadow: 0 0 0 0.25rem rgba(255, 154, 154, 0.5);
  transition: 0.5s ease;
}

.modal__btn-add:hover {
  background: #79ce6b;
  box-shadow: 0 0 0 0.25rem rgba(139, 222, 125, 0.5);
  transition: 0.5s ease;
}

.modal__btn-edit:hover {
  background: #658ac2;
  box-shadow: 0 0 0 0.25rem rgba(125, 164, 222, 0.5);
  transition: 0.5s ease;
}

.modal__btn-confirm:hover {
  box-shadow: 0 0 0 0.25rem rgba(131, 185, 248, 0.5);
  transition: 0.5s ease;
}

.modal__btn-cancel:hover {
  box-shadow: 0 0 0 0.25rem rgba(118, 118, 118, 0.5);
  transition: 0.5s ease;
}

.sidebar__btn:hover > span {
  color: #36393f;
  transition: 0.5s ease;
}

.esc__btn:hover + span {
  color: red;
  transition: 0.5s ease;
}

.modal__close-btn:hover svg > path {
  fill: #de7d7d;
  transition: 0.5s ease;
}

.esc__btn:hover svg > path {
  fill: red;
  transition: 0.5s ease;
}

.sidebar__btn:hover svg > path {
  fill: #36393f;
  transition: 0.5s ease;
}

.header__btn:hover svg > .header__path {
  fill: #36393f;
  transition: 0.5s ease;
}

/*# sourceMappingURL=style.css.map */
